CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_CFG80211_DEFAULT_PS=n
CONFIG_MAC80211=y
CONFIG_MAC80211_MESH=y
CONFIG_LIB80211=y
CONFIG_LIB80211_CRYPT_WEP=y
CONFIG_LIB80211_CRYPT_CCMP=y
CONFIG_LIB80211_CRYPT_TKIP=y
CONFIG_RFKILL=y
CONFIG_RFKILL_INPUT=y
CONFIG_WLAN=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_TRIGGERS=y

CONFIG_MAC80211_RC_MINSTREL=y
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=y

CONFIG_WLAN_VENDOR_REALTEK=y

CONFIG_RTL8XXXU=y
CONFIG_RTL8XXXU_UNTESTED=y

CONFIG_RTL8187=y
CONFIG_RTL8187_LEDS=y

CONFIG_RTLWIFI=y
CONFIG_RTLWIFI_USB=y
CONFIG_RTL8192CU=y
CONFIG_RTL8192C_COMMON=y
CONFIG_RTL8192DU=y
CONFIG_RTL8192D_COMMON=y

CONFIG_RTW88=y
CONFIG_RTW88_CORE=y
CONFIG_RTW88_USB=y
CONFIG_RTW88_88XXA=y
CONFIG_RTW88_8812A=y
CONFIG_RTW88_8812AU=y
CONFIG_RTW88_8821A=y
CONFIG_RTW88_8821AU=y
CONFIG_RTW88_8814A=y
CONFIG_RTW88_8814AU=y
CONFIG_RTW88_8822B=y
CONFIG_RTW88_8822BU=y
CONFIG_RTW88_8822C=y
CONFIG_RTW88_8822CU=y
CONFIG_RTW88_8821C=y
CONFIG_RTW88_8821CU=y
CONFIG_RTW88_8723X=y
CONFIG_RTW88_8723D=y
CONFIG_RTW88_8723DU=y
CONFIG_RTW88_LEDS=y

CONFIG_RTW89=y
CONFIG_RTW89_CORE=y
CONFIG_RTW89_USB=y
CONFIG_RTW89_8851B=y
CONFIG_RTW89_8851BU=y
CONFIG_RTW89_8852A=y
CONFIG_RTW89_8852AU=y
CONFIG_RTW89_8852B=y
CONFIG_RTW89_8852B_COMMON=y
CONFIG_RTW89_8852BU=y
CONFIG_RTW89_8852C=y
CONFIG_RTW89_8852CU=y
CONFIG_RTW89_8922A=y
CONFIG_RTW89_8922AU=y

CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH_COMMON=y
CONFIG_ATH9K_HW=y
CONFIG_ATH9K_COMMON=y
CONFIG_ATH9K_HTC=y
CONFIG_ATH9K_BTCOEX_SUPPORT=y
CONFIG_CARL9170=y
CONFIG_CARL9170_LEDS=y
CONFIG_CARL9170_WPC=y
CONFIG_AR5523=y

CONFIG_WLAN_VENDOR_MEDIATEK=y
CONFIG_MT7601U=y
CONFIG_MT76_CORE=y
CONFIG_MT76_USB=y
CONFIG_MT76_LEDS=y
CONFIG_MT76x02_LIB=y
CONFIG_MT76x02_USB=y
CONFIG_MT76x0_COMMON=y
CONFIG_MT76x0U=y
CONFIG_MT76x2_COMMON=y
CONFIG_MT76x2U=y
CONFIG_MT76_CONNAC_LIB=y
CONFIG_MT7615_COMMON=y
CONFIG_MT7663U=y
CONFIG_MT7663_USB_SDIO_COMMON=y
CONFIG_MT7921_COMMON=y
CONFIG_MT7921U=y
CONFIG_MT7925_COMMON=y
CONFIG_MT7925U=y

CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_RT2X00=y
CONFIG_RT2X00_LIB=y
CONFIG_RT2X00_LIB_USB=y
CONFIG_RT2X00_LIB_FIRMWARE=y
CONFIG_RT2X00_LIB_CRYPTO=y
CONFIG_RT2X00_LIB_LEDS=y
CONFIG_RT2800_LIB=y
CONFIG_RT2800USB=y
CONFIG_RT2800USB_RT33XX=y
CONFIG_RT2800USB_RT35XX=y
CONFIG_RT2800USB_RT3573=y
CONFIG_RT2800USB_RT53XX=y
CONFIG_RT2800USB_RT55XX=y
CONFIG_RT2800USB_UNKNOWN=y
CONFIG_RT2500USB=y
CONFIG_RT73USB=y

CONFIG_WLAN_VENDOR_ZYDAS=y
CONFIG_ZD1211RW=y
CONFIG_WLAN_VENDOR_INTERSIL=y
CONFIG_P54_COMMON=y
CONFIG_P54_USB=y
CONFIG_P54_LEDS=y

CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_CDC_EEM=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
CONFIG_USB_NET_CDC_SUBSET=y
CONFIG_USB_RTL8150=y
CONFIG_USB_RTL8152=y
CONFIG_USB_RTL8153_ECM=y

CONFIG_PACKET=y
CONFIG_PACKET_DIAG=y
CONFIG_NET_NS=y
